.salvar-icon{background: url("icons/salvar.png") !important;}
.voltar-icon{background: url("icons/voltar.png") !important;}
.adicionar-icon{background: url("icons/adicionar.png") !important;}
.editar-icon{background: url("icons/editar.png") !important;}
.apagar-icon{background: url("icons/apagar.png") !important;}
.avrias-icon{background: url("icons/avrias.png") !important;}
.avrias-icon{background: url("icons/avrias.png") !important;}
.avrias-icon{background: url("icons/city.png") !important;}
.cancelar-icon{background: url("icons/cancelar.png") !important;}